<div class="ads_banner position-relative">
    <img src="/img/ads_banner.png" alt="ads-banner-video" class="ads_banner_video">
    <div class="ads_banner--sound d-flex justify-content-center align-items-center">
        <img src="/svg/banner-sound-muted.svg" alt="muted">
    </div>
    <div class="ads_banner--replay">
        <img src="/svg/replay.svg" alt="banner-replay">
    </div>
</div>