<div class="ads_header d-flex justify-content-between align-items-center">
    <div class="ads_slogan">Tủ thuốc gia đình</div>
    <a href="#"><img src="/img/ads_logo.jpg" alt="ads_logo" class="ads_logo"></a>
</div>